{% extends "base.html" %}
{% block title %}
    input form
{% endblock %}

{% block content %}

    <h1>enter data to run</h1>
    <div>
        <form action="/run/" method="post">
            {% csrf_token %}
            {% for f in form %}
                {{ f.label }}
                {{ f }}
                <p></p>
            {% endfor %}
            <p></p>
        <p>-----------------</p> <p></p> <p>-----------------</p>

        <p style= 'overflow:hidden;height:200px; width:20%; overflow-y:scroll;'>
            {% for f in form.acsepted_symbol_list %}
                {{ f }}
                <br>
            {% endfor %}
        </p>



            <input type="submit" name="1" value="Submit">
            <input type="submit" name="1" value="not_Submit">
        </form>
    </div>



{% endblock %}

